[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "wrf-python"]
	path = wrf-python
	url = https://github.com/NCAR/wrf-python
[submodule "numpy-distutils"]
	path = numpy-distutils
	url = https://github.com/numpy/numpy.git
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install.git
